body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1ed660;
    --bs-btn-border-color: #1ed660;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(30, 214, 96, 0.9);
    --bs-btn-hover-border-color: rgba(30, 214, 96, 0.9);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(30, 214, 96, 0.9);
    --bs-btn-active-border-color: rgba(30, 214, 96, 0.9);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1ed660;
    --bs-btn-disabled-border-color: #1ed660;
    border-width: 2px;
    background: url('/button.jpg') no-repeat;
}

.btn-outline-primary {
    --bs-btn-color: #1ed660;
    --bs-btn-border-color: #1ed660;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1ed660;
    --bs-btn-hover-border-color: #1ed660;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1ed660;
    --bs-btn-active-border-color: #1ed660;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1ed660;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1ed660;
    --bs-gradient: none;
    border-width: 2px;
    color: #fff;
}

.btn-outline-primary:hover {
    background: url('/button.jpg') no-repeat;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #1ed660;
    background: url('/button.jpg') no-repeat;
}

.card {
    background-color: #212529;
    border-width: 2px;
}

.card:hover {
    background-color: #1ed660;
}

.card:hover .card-body{
    background: url('/button.jpg') no-repeat;
}

.image-overlay {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .image-overlay {
    opacity: 1;
}

.card:hover .card-img-top {
    opacity: 0.8;
}

.card .bi {
    width: 2em;
    height: 2em;
    fill: #1ed660;
}

.dot {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
    background-color: #1ed660;
}

#musicPlayer.card {
    border-color: #1ed660;
}

#musicPlayer.card:hover {
    background-color: #212529;
}

#musicPlayer.card .bi {
    fill: #fff;
}

#musicPlayer .image-overlay {
    opacity: 1;
    top: 40%;
}

#musicPlayer.card .card-body {
    background: url(/button.jpg) no-repeat;
}

/* Style Pop */ 

.style-pop #music > img{
    content:url("/music-pop.png");
}

.style-pop #playlist > img{
    content:url("/playlist-pop.png");
}

.style-pop .card:hover {
    background-color: #f5a3c3;
}

.style-pop .card:hover .card-body{
    background: url('/pop.jpg') no-repeat;
}

.style-pop .card .bi {
    fill: #f5a3c3;
}

.style-pop .dot {
    background-color: #f5a3c3;
}

/* Style Rock */ 

.style-rock #music > img{
    content:url("/music-rock.png");
}

.style-rock #playlist > img{
    content:url("/playlist-rock.png");
}

.style-rock .card:hover {
    background-color: #9d3b3a;
}

.style-rock .card:hover .card-body{
    background: url('/rock.jpg') no-repeat;
}

.style-rock .card .bi {
    fill: #9d3b3a;
}

.style-rock .dot {
    background-color: #9d3b3a;
}

/* Style Dance */ 

.style-dance #music > img{
    content:url("/music-dance.png");
}

.style-dance #playlist > img{
    content:url("/playlist-dance.png");
}

.style-dance .card:hover {
    background-color: #259ac2;
}

.style-dance .card:hover .card-body{
    background: url('/dance.jpg') no-repeat;
}

.style-dance .card .bi {
    fill: #259ac2;
}

.style-dance .dot {
    background-color: #259ac2;
}

/* Style Rap */ 

.style-rap #music > img{
    content:url("/music-rap.png");
}

.style-rap #playlist > img{
    content:url("/playlist-rap.png");
}

.style-rap .card:hover {
    background-color: #d5692d;
}

.style-rap .card:hover .card-body{
    background: url('/rap.jpg') no-repeat;
}

.style-rap .card .bi {
    fill: #d5692d;
}

.style-rap .dot {
    background-color: #d5692d;
}

/* Style Jazz */ 

.style-jazz #music > img{
    content:url("/music-jazz.png");
}

.style-jazz #playlist > img{
    content:url("/playlist-jazz.png");
}

.style-jazz .card:hover {
    background-color: #d8a077;
}

.style-jazz .card:hover .card-body{
    background: url('/jazz.jpg') no-repeat;
}

.style-jazz .card .bi {
    fill: #d8a077;
}

.style-jazz .dot {
    background-color: #d8a077;
}

/* Style Classic */ 

.style-classic #music > img{
    content:url("/music-classic.png");
}

.style-classic #playlist > img{
    content:url("/playlist-classic.png");
}

.style-classic .card:hover {
    background-color: #c9bbac;
}

.style-classic .card:hover .card-body{
    background: url('/classic.jpg') no-repeat;
}

.style-classic .card .bi {
    fill: #c9bbac;
}

.style-classic .dot {
    background-color: #c9bbac;
}